body{
    background-color: #e9ffff !important
}

main{
    background-color: #e9ffff;
}

main p{
    font-size: 21px;
    text-shadow: 0 0 10px white;
}

@media (max-width : 600px) {
   main p{
    font-size: 15px !important;
   }


}